/* Headings */

h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 4rem;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3{
  font-family: "Bebas Neue", cursive;
  font-weight: 500;
  font-size: 2.5rem;

}

p {
  font-family: "Roboto", sans-serif;
  padding-top: 5%;
  font-size: 1.5rem;
}

.about-text{
  font-family: "Roboto", sans-serif;
  padding-top: 2%;
  font-size: 1.2rem;
}

iframe {
  width: 85%;
}

a {
  color: inherit;
  font-size: 0.6rem;
}

.dropdown-item{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
}

.motion-title {
  font-size: 4rem;
}

/* Navigation and heading*/

#title {
  text-align: left;
  padding-top: 5%;
}
/* Section */

.image-section {
  background-image: url("img/FOND.png");
  background-size: 100%;
}

.animated-text {
  width: 70%;
  margin: 7% 15%;
}

/* Navigation Bar */

.navbar-brand {
  padding-left: 75px;
}
.navbar {
  background-color: #fff;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.nav-item {
  padding: 0 65px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.scroll-image {
  width: 20%;
}

.cat-image {
  /*transform: rotate(25deg);*/
  position: relative;
  width: 80%;
  padding-top: 40%;
  left: 5%;
}

#projects {
  text-align: center;
}
#motion-projects {
  text-align: center;
}
#graphic-design {
  text-align: center;
  margin: 12% 0;
}
#photographie {
  text-align: center;
}

.projects-title {
  margin: 5% 0;
}

.cards-separation{
  margin-left: 6%;
}

.menu-row {
  /* display: flex; */
  /* justify-content: space-around; */
  /* padding: 2%; */
  padding-left: 7%;
  align-items: center;
}

.menu-box {
  position: relative;
  transition: 0.6s ease-out;
  padding: 0%;
  /* display: flex; */
  /* align-items: flex-end; */
}

.menu-box:hover {
  transform: translateY(10px);
}

.menu-box:hover:before {
  opacity: 1;
}

.menu-box:hover .card-menu {
  opacity: 1;
  transform: translateY(0);
}

.menu-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* display: block; */
  width: 90%;
  height: 90%;
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.menu-box img {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  /* object-fit: cover; */
}

.menu-box .card-menu {
  position: relative;
  z-index: 3;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.card-menu a {
  width: 384px;
  height: 216px;
  display: inline-block;
}

#footer {
  text-align: center;
  padding: 7% 0 1% 0;
  background-color: #000;
}


.social-media-icon:hover {
  color: #fff;
}


#process {
  padding: 7% 15%;
}

#process-dark {
  padding: 7% 15% 0 15%;
  background-color: #000;
  color: #fff;
}


.title-text {
  padding: 10% 15%;
}


.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.heart-image {
  padding-right: 2%;
}


.img-proccess-1 {
  width: 100%;
}

.photo{
  width: 100%;
}


#process .container-fluid{
  padding: 0;
  margin-top: 15%;
}


#beige-section .container-fluid{
  padding: 0;
}

#grey-dark-section .container-fluid{
  padding: 0;
}

.little-text {
  font-size: 0.9rem;
}

.image-section-2 {
  background-image: url("img/fond-2.png");
  color: #fff;
  background-size: 100%;
}

.image-section-3 {
  background-image: url("img/fond-3-.png");
  color: #fff;
  background-size: 100%;
}

.image-section-5 {
  background-image: url("img/fond-5.png");
  color: #fff;
  background-size: 100%;
}

.blood-gifs {
  width: 100%;
  padding-bottom: 12%;
}

.blood-gifs-big{
  width: 85%;
}

.blood-gifs-2 {
  width: 93.5%;
}


#grey-section {
  background-color: #b2bec3;
  padding: 7% 15%;
}


.copy-right{
  padding-top: 2%;
  font-size: 1rem;
}

.white-signature{
  padding-bottom: 2%;
}

.print-menu{
  width: 100%;
}


#grey-dark-section{
  background-color: #53555b;
  padding: 7% 15%;
}

#beige-section{
  background-color: #ddcda6;
  padding: 7% 15%;
}

#green-section{
  text-align: center;
  background-color: #ACB992;
}

#about{
  padding: 7% 7%;
}



.botanika-img{
  padding-bottom: 12%;
  width: 100%;
}

.botanika-img-2{
  width: 71%;
  padding: 10% 0;
}
.about-title{
  text-align: center;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
    padding-top: 25%;
  }

  .animated-text {
    margin: 2% 15%;
  }

  .cat-image {
    position: static;
    padding-top: 0%;
  }

  .image-section {
    background-size: 280%;
  }

  .image-section-2 {
    background-size: 280%;
  }

  .menu-icon {
    width: 35%;
    margin-left: 45px;
  }

  .scroll-image {
    width: 40%;
  }

  .navbar-brand {
    padding-left: 5px;
    width: 35%;
  }

  p {
    font-size: 1rem;
    text-align: left;
  }

  .copy-right{
    text-align: center;
    padding: 0;
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .little-text {
    font-size: 0.2rem;
  }

  .heart-image {
    width: 30%;
  }

  .cards-separation{
    margin-top: 8%;
    margin-left: 0;
  }
  .blood-gifs-big{
    margin-bottom: 7%;
  }

  .social-media-icon {
    font-size: 1rem;
    padding-bottom: 2%;
  }

  .white-signature {
    width: 50%;
  }

  .about-title{
    font-size: 3rem;
  }

  .heart-image {
    width: 15%;
  }

}

@media (min-width: 1500px) {

  .menu-row {
    /* display: flex; */
    /* justify-content: space-around; */
    /* padding: 2%; */
    width: 85%;
    padding-left: 15%;
  }

  #about{
    padding: 7% 15%;
  }

  .photo{
    width: 80%;
    margin-left: 7%;
  }
}